<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--
  
  Note: We have moved the ConnectionString used for testing against SqlServer to a file named ConnectionStrings.config 
  and added it to the .gitignore file so that it won't ever get checked into source control for security reasons. The
  ConnectionStrings.config file should look like this:
  
  <?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=****;Database=****;User ID=****;Password=****;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  -->
  
  <connectionStrings configSource="ConnectionStrings.config">
  </connectionStrings>
  
</configuration>